@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html, body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility !important
}

.close{
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    color: #FAFAFA;
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
    z-index: 99;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 60vh 20vh;
    grid-template-areas: "wellcome repos perfil" "wellcome repos perfil" "wellcome repos perfil";
    background: #090909;
    transition: .3s;
}

.handleView{
    position: relative;
    top: -92vh;
    left: 0px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.lente-wellcome, .lente-repos, .lente-perfil{
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: relative;
    top: -100vh;
}

.container-wellcome{
    grid-area: wellcome;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 20vh 80vh;
    grid-template-areas: "title-wellcome" "desc-wellcome";
}

.wrapper-left-top{
    grid-area: title-wellcome;
    padding: 20px;
}

.wrapper-left-top .wellcome-title{
    color: #FAFAFA;
    text-align: center;
}

.wrapper-left-middle{
    grid-area: desc-wellcome;
    padding: 20px;
    display: flex;
    align-items: center;
}

.wrapper-left-middle .desc-text{
    color: #FAFAFA;
}

.wrapper-left-bottom .desc-text{
    color: #FAFAFA;
}

.container-repos{
    grid-area: repos;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 80vh;
    grid-template-areas: "right-title" "right-repos";
    background: #FAFAFA;
}

.wrapper-right-title{
    grid-area: right-title;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-right-title .repos-title{
    color: #090909;
    font-weight: bold;
}

.wrapper-repos{
    grid-area: right-repos;
    padding: 20px 50px;
    overflow: scroll;
}

.wrapper-repos::-webkit-scrollbar {
    width: 10px;
    height: 0px;
  }

.wrapper-repos::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

.wrapper-repos::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

.wrapper-repos .repo{
    width: 100%;
    border: 1px solid #DF2935;
    border-bottom: 5px solid #DF2935;
    border-radius: 5px;
    margin-bottom: 15px;
    background: #FAFAFA;
    cursor: pointer;
}

.wrapper-repos .repo-title{
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background: #DF2935;
    color: #FFF;
    border-radius: 3px 3px 0px 0px;
    margin: 0;
}

.wrapper-repos .repo-desc{
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    color: #090909;
    font-weight: 600;
}

.wrapper-repos .repo-info{
    width: 100%;
    padding: 5px 20px;
    box-sizing: border-box;
    color: #090909;
}

.container-perfil{
    grid-area: perfil;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh 60vh;
    grid-template-areas: "perfil-photo" "perfil-info";
}

.perfil-photo{
    grid-area: perfil-photo;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.perfil-photo .photo{
    width: 250px;
    border-radius: 5px;
}

.perfil-info{
    grid-area: perfil-info;
    box-sizing: border-box;
    padding: 20px 50px;
    box-sizing: border-box;
}

.perfil-fullname{
    color: #FAFAFA;
    padding: 0;
    margin: 0;
}

.perfil-username{
    color: #FAFAFA;
    padding: 0;
    margin: 0;
}

.perfil-bio{
    color: #FAFAFA;
}

.perfil-info ul{
    list-style: none;
    padding: 0;
}

.perfil-info ul li{
    color: #FAFAFA;
    font-size: 1em;
    line-height: 2em;
}

.perfil-info ul li .link{
    color: #FAFAFA;
    font-size: 0.8em;
    text-decoration: none;
    float: right;
}

.footer{
    width: 100%;
}

.footer .footer-text{
    text-align: center;
    color: #FAFAFA;
    font-size: 0.6em;
}

@media (max-width: 900px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "wellcome" "perfil" "repos";
    }
    .perfil-info{
        padding: 20px;
    }
    .perfil-info ul li{
        font-size: 0.9em;
    }
}