@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}

html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh 100vh auto;
    grid-template-areas: "home" "perfil" "repos";
}

.wrapper-home{
    grid-area: home;
    background: #393939;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-perfil{
    grid-area: perfil;
}

.wrapper-repos{
    grid-area: repos;
}